/* styles.css */

.navbar-select {
    background-color: #28a745; /* Green background color */
    color: white; /* White text color for better contrast */
    border: none;
}

.navbar-select option {
    color: black; /* Black text color inside the dropdown options */
}

.navbar-select:focus {
    outline: none;
    box-shadow: none;
}

/* Ensure alignment */
.nav-item.d-flex {
    margin-right: 15px; /* Space between strategy select and next nav item */
}

.nav-link {
    padding: 0 8px;
}

.green-bg {
    background-color: green;
}

.orange-bg {
    background-color: orange;
}

.navbar-select {
    background-color: #f8f9fa; /* Match this color to your navbar's background color */
    border: none;
    color: #343a40; /* Adjust text color for better contrast */
}

.navbar-select:focus {
    outline: none;
    box-shadow: none;
}

.top-aligned {
    align-items: flex-start;
  }