{% extends "base.html" %} 
{% load custom_filters %}
{% block title %}Handlungsfelder{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Handlungsfelder  ({{ handlungsfelder|length}})</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Kürzel</th>
                    <th>Handlungsfeld</th>
                    <th>Beschreibung</th>
                    {% if request.user|is_in_group:"admins" %}
                        <th>Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for handlungsfeld in handlungsfelder %}
                <tr>
                    <td><a href="{% url 'handlungsfeld_detail' handlungsfeld.pk %}">{{ handlungsfeld.kuerzel }}</a></td>
                    <td>{{ handlungsfeld.titel }}</td>
                    <td>{{ handlungsfeld.beschreibung }}</td>
                    {% if request.user|is_in_group:"admins" %}
                        <td><a href="{% url 'handlungsfeld_edit' handlungsfeld.pk %}"><i class="fas fa-edit"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
