{% extends "base.html" %} 
{% block title %}Handlungsfeld {{handlungsfeld.titel}}{% endblock title %} 
{% block content %}

    <div class="container">
        <h1>Handlungsfeld {{handlungsfeld.titel}}</h1>
        <br/>
        <table class="table">
            <tr>
                <th>Kürzel</th><td>{{handlungsfeld.kuerzel}}</td>
            </tr>
            <tr>
                <th>Titel</th><td>{{handlungsfeld.titel}}</td>
            </tr>
            <tr>
                <th>Beschreibung</th><td>{{handlungsfeld.beschreibung}}</td>
            </tr>
        </table>
        <br><br>
        <h4>Ziele</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Kürzel</th>
                    <th>Titel</th>
                    <th>Beschreibung</th>
                    <th>Edit</th>
                </tr>
            </thead>

                {% for ziel in ziele %}
                <tr>
                    <td><a href="{% url 'ziel_detail' ziel.pk %}">{{ ziel.kuerzel }}</a></td>
                    <td>{{ ziel.titel }}</td>
                    <td>{{ ziel.beschreibung }}</td>
                    <td><a href="{% url 'ziel_edit' ziel.pk %}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
        </table>
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url "ziel_create" handlungsfeld.pk %}'">Neues Ziel</button>
        <br><br>
    </div>
{% endblock %}