{% extends "base.html" %} 
{% block title %}{{handlungsfeld.titel}}{% endblock title %} 
{% load custom_filters %}
{% block content %}

    <div class="container">
        <h1>Handlungsfeld: {{handlungsfeld.titel}}</h1>
        <br/>
        <h4>Ziele</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Titel</th>
                    <th>Ziel</th>
                    {% if request.user|is_in_group:"admins" %}
                        <th>Edit</th>
                    {% endif %}
                </tr>
            </thead>

                {% for ziel in ziele %}
                <tr>
                    <td><a href="{% url 'ziel_detail' ziel.pk %}">{{ ziel.kuerzel }}</a></td>
                    <td>{{ ziel.titel }}</td>
                    <td>{{ ziel.beschreibung }}</td>
                    {% if request.user|is_in_group:"admins" %}
                        <td><a href="{% url 'ziel_edit' ziel.pk %}"><i class="fas fa-edit"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
        <button onclick="goBack()" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Zurück
        </button>&nbsp;
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url "ziel_create" handlungsfeld.pk %}'">Neues Ziel</button>
        <br><br>
    </div>
{% endblock %}