{% extends "base.html" %} 
{% block title %}Monitoring{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Monitoring der Massnahmen zum Gleichstellungsplan({{ plan_records|length}})</h1>
        <br>
        {% if request.user.is_authenticated %}
            <form method="get">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Massnahme</th>
                            <th>Verantwortlich</th>
                            <th>Organisation</th>
                            <th>Departement</th>
                            <th>Jahr<br>Berichterstattung</th>
                            <th>Termin Umsetzung</th>
                            <th>Status</th>
                            <th>Termin eingehalten</th>
                            <th>Fortschritt Umsetzung</th>
                            <th>Zufriedenheit MV</th>
                        </tr>
                        <tr>
                            <th><input type="text" name="massnahme" class="form-control" placeholder="Filter Massnahme" value="{{ request.GET.massnahme }}"></th>
                            <th><input type="text" name="verantwortlich" class="form-control" placeholder="Filter Verantwortlich" value="{{ request.GET.verantwortlich }}"></th>
                            <th><input type="text" name="organisation" class="form-control" placeholder="Filter Organisation" value="{{ request.GET.organisation }}"></th>
                            <th>
                                <select name="departement" class="form-control">
                                    <option value="">-- Filter Departement --</option>
                                    {% for departement in departement_choices %}
                                        <option value="{{ departement }}" {% if request.GET.departement == departement %}selected{% endif %}>
                                            {{ departement }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th><input type="text" name="jahr" class="form-control" placeholder="Filter Jahr" value="{{ request.GET.jahr }}"></th>
                            <th><input type="text" name="termin" class="form-control" placeholder="Filter Jahr" value="{{ request.GET.jahr }}"></th>
                    
                            <th><input type="text" name="status" class="form-control" placeholder="Filter Verantwortlich" value="{{ request.GET.aufwand_ist }}"></th>
                            <th><input type="text" name="termin_eingehalten" class="form-control" placeholder="Filter Status" value="{{ request.GET.status }}"></th>
                            <th><input type="text" name="fortschritt" class="form-control" placeholder="Filter Status" value="{{ request.GET.status }}"></th>
                            <th><input type="text" name="zufriedenheit" class="form-control" placeholder="Filter Status" value="{{ request.GET.status }}"></th>
                            
                            <th><button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i></button></th>
                        </tr>
                    </thead>
            </form>
                <tbody>
                    {% for pr in plan_records %}
                    <tr>
                        <td>{{ pr.massnahme.kuerzel }}</td>
                        <td>{{ pr.verantwortlich }}</td>
                        <td>{{ pr.organisation.dienststelle_kuerzel }}</td>
                        <td>{{ pr.organisation.departement_kuerzel }}</td>
                        <td>{{pr.jahr}}</td>
                        <td>{{pr.massnahme.faellig_am}}</td>
                        <td>{{ pr.status }}</td>
                        <td>{{ pr.termin_eingehalten }}</td>
                        <td>
                            {% if pr.fortschritt.id == 14 %}
                                <span class="dot green-dot"></span>
                            {% elif pr.fortschritt.id == 15 %}
                                <span class="dot orange-dot"></span>
                            {% elif pr.fortschritt.id == 16 %}
                                <span class="dot red-dot"></span>
                            {% else %}
                                <span class="dot grey-dot"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if pr.zufriedenheit.id == 14 %}
                                <span class="dot green-dot"></span>
                            {% elif pr.zufriedenheit.id == 15 %}
                                <span class="dot orange-dot"></span>
                            {% elif pr.zufriedenheit.id == 16 %}
                                <span class="dot red-dot"></span>
                            {% else %}
                                <span class="dot grey-dot"></span>
                            {% endif %}
                        </td>
                        
                        <td><a href="{% url 'plan_record_edit' pr.pk %}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        {% else %}
            Bitte <a href="{% url 'login_account:login' %}">einloggen</a>
        {% endif %}

    </div>
    <style>
        .dot {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
        }
        .green-dot {
            background-color: green;
        }
        .orange-dot {
            background-color: orange;
        }
        .red-dot {
            background-color: red;
        }
        .grey-dot {
            background-color: grey;
        }
    </style>
    {% endblock %}

