{% extends "base.html" %}

{% block title %}Welcome to the Objective Manager{% endblock %}

{% block content %}
<div class="container">
    <h1>🚧Portal für Strategisches Controlling des Kantons Basel-Stadt🚧</h1>
    <br>
    <p>Diese App ermöglicht es, strategische Handlungsfelder, Ziele und Massnahmen zu verwalten sowie deren Zielerreichung und den geplanten Aufwand zu überwachen. Die App befindet sich derzeit in der Entwicklung. Handlungsfelder, Ziele und Maßnahmen entsprechen realen Vorhaben, während alle Planungsdaten erfunden sind. Nur Das Thema Gleichstellung ist aktuelle mit Daten hinterlegt.
    </p>
    
    <form method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
            <label for="theme">Select a Theme:</label>
            <select id="theme" name="theme" class="form-control" onchange="updateDescription(); updateButtonState();">
                <option value="">-- Wähle ein Thema --</option>
                {% for theme in themes %}
                <option value="{{ theme.id }}" data-description="{{ theme.beschreibung }}" {% if selected_theme and theme.id == selected_theme.id %}selected{% endif %}>{{ theme.titel }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3" id="submitButton" disabled>Weiter</button>
    </form>
    
    <br>
    <p id="theme-description">{% if selected_theme %}{{ selected_theme.beschreibung }}{% endif %}</p>
</div>

<script>
    function updateDescription() {
        var select = document.getElementById('theme');
        var description = select.options[select.selectedIndex].getAttribute('data-description');
        document.getElementById('theme-description').innerText = description;
    }

    function updateButtonState() {
        var selectElement = document.getElementById('theme');
        var submitButton = document.getElementById('submitButton');
        
        if (selectElement.value) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }

    function validateForm() {
        var selectElement = document.getElementById('theme');
        if (selectElement.value === "") {
            selectElement.value = null;
        }
        return true;  // Formular absenden
    }

    function goBack() {
        window.history.back();
    }
    
    // Initial call to set the button state based on the current selection
    updateButtonState();
</script>
{% endblock %}
