{% extends "base.html" %} 
{% load custom_filters %}
{% block title %}Massnahmen{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Massnahmen  ({{ massnahmen|length}})</h1>
        <form method="get">
            <table class="table">
                <thead>
                    <tr>
                        <th>Strategie</th>
                        <th>Ziel</th>
                        <th>Kürzel</th>
                        <th>Titel</th>
                        {% if request.user|is_in_group:"admins" %}
                            <th>Edit</th>
                        {% endif %}
                    </tr>
                    <tr>
                      <th>
                        <select name="strategie_filter" class="form-control">
                          <option value="">-- All Strategien --</option>
                          {% for strategie in strategie_options %}
                            <option value="{{ strategie.id }}" {% if strategie.id|stringformat:"s" == strategie_filter %}selected{% endif %}>
                              {{ strategie.titel_kurz }}
                            </option>
                          {% endfor %}
                      </select>
                    </th>  
                      <th>
                            <input type="text" name="filterZiel" value="{{ request.GET.filterZiel }}" placeholder="Filter Ziel">
                        </th>
                        <th>
                            <input type="text" name="filterKuerzel" value="{{ request.GET.filterKuerzel }}" placeholder="Filter Kürzel">
                        </th>
                        <th>
                            <input type="text" name="filterTitel" value="{{ request.GET.filterTitel }}" placeholder="Filter Titel">
                        </th>
                        <th>
                            <button type="submit" class="btn btn-primary">Filtern</button>
                        </form>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {% for massnahme in massnahmen %}
                    <tr>
                      <td>{{massnahme.strategie}}</td>  
                      <td>{{massnahme.vorgaenger.kuerzel}} {{massnahme.vorgaenger.titel}}</td>
                        <td><a href="{% url 'massnahme_detail' massnahme.pk %}">{{ massnahme.kuerzel }}</a></td>
                        <td>{{ massnahme.titel }}</td>
                        {% if request.user|is_in_group:"admins" %}
                            <td><a href="{% url 'massnahme_edit' massnahme.pk %}"><i class="fas fa-edit"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
    </div>
{% endblock %}
