{% extends "base.html" %} 
{% block title %}Ziel {{ziel.titel}}{% endblock title %} 
{% block content %}

    <div class="container">
        <!-- Back Button -->
        

        <h3>Massnahme {{massnahme.titel}}</h3>
        <br/>
        <table class="table">
            <tr>
                <th>Kürzel</th><td>{{massnahme.kuerzel}}</td>
            </tr>
            <tr>
                <th>Titel</th><td>{{massnahme.titel}}</td>
            </tr>
            
            <tr>
                <th>Aufwand Personentage</th><td>{{massnahme.aufwand_personen_tage_plan}}</td>
            </tr>
            <tr>
                <th>kosten 1000 CHF</th><td>{{massnahme.aufwand_tsd_chf_plan}}</td>
            </tr>
            <tr>
                <th>Von</th><td>{{massnahme.jahr_start}}</td>
            </tr>
            <tr>
                <th>Bis</th><td>{{massnahme.jahr_ende}}</td>
            </tr>
        </table>
        {% if massnahme.beschreibung %}
            <br>
            <b>Beschreibung</b><br>{{massnahme.beschreibung}}
            <br>
        {% endif %}
        <br>
         <!-- Back Button -->
        <button onclick="goBack()" class="btn btn-secondary mt-3">
            <i class="fas fa-arrow-left"></i> Zurück
        </button>
        <br>
        <hr>
        <h3>Verantwortliche Stellen/Personen</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Departement</th>
                    <th>Organisation</th>
                    <th>Person</th>
                    <th>Edit</th>
                </tr>
            </thead>
            
            {% for mo in massnahme_orgs %}
                <tr>
                    <td>{{ mo.organisation.departement_kuerzel }}</td>
                    <td>{{ mo.organisation.bereich }}</td>
                    <td>{{ mo.person }}</td>
                    <td>
                        <a href="{% url 'massnahme_edit' massnahme.pk %}"><i class="fas fa-edit"></i></a><br>
                        <a href="{% url 'massnahme_edit' massnahme.pk %}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url "massnahme_org_create" massnahme.pk %}'">Organisation Zuweisen</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
