{% extends "base.html" %} 
{% block title %}{{massnahme.titel}}{% endblock title %} 
{% load custom_filters %}
{% block content %}

    <div class="container">
        <h3>Massnahme: {{massnahme.titel}}</h3>
        <br/>
        <table class="table">
            <tr>
                <th>Nummer</th><td>{{massnahme.kuerzel}}</td>
            </tr>
            <tr>
                <th>Titel</th><td>{{massnahme.titel}}</td>
            </tr>
            <tr>
                <th>Messbarkeit</th><td>{{massnahme.mess_groesse}}</td>
            </tr>
            <tr>
                <th>Termin</th><td>{{massnahme.jahr_ende}}</td>
            </tr>
            {% if massnahme.beschreibung %}
            <tr>
                <th>Beschreibung</th><td>{{massnahme.beschreibung}}</td>
            </tr>
            {% endif %}
        </table>

         <div class="d-flex align-items-start">
            <button onclick="goBack()" class="btn btn-secondary mt-3">
                <i class="fas fa-arrow-left"></i> Zurück
            </button>
            <a href="{% url 'massnahme_edit' massnahme.pk %}" class="btn btn-primary ms-3 mt-3">
                <i class="fas fa-edit"></i> Edit
            </a>
        </div>
        <br>
        <hr>
        <h3>Verantwortliche Stellen/Personen</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Departement</th>
                    <th>Organisation</th>
                    <th>Person</th>
                    <th>Rolle</th>
                    {% if request.user|is_in_group:"admins" %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            
            {% for mo in massnahme_orgs %}
                <tr>
                    <td>{{ mo.organisation.departement_kuerzel }}</td>
                    <td>{{ mo.organisation.bereich }}</td>
                    <td>{{ mo.person }}</td>
                    <td>{{ mo.rolle }}</td>
                   
                    {% if request.user|is_in_group:"admins" %}
                        <td>
                            <a href="{% url 'massnahme_org_edit' mo.pk %}" class="btn btn-link">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ handlungsfeld.pk }}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url "massnahme_org_create" massnahme.pk %}'">Organisation Zuweisen</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
