{% extends "base.html" %} 
{% load crispy_forms_tags %}  <!-- Load Crispy Forms tags -->
{% block title %}Gleichstellung BS: Ziele und Massnahmen{% endblock title %} 
{% block content %}

<div class="container">
    <h1>Organisation bearbeiten</h1>
    {{organisation.pk}}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Zurück</button>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url "organisation_create" %}'">Neue Organisation</button>
        {% if form.instance.pk %}
            <button type="button" class="btn btn-danger" onclick="confirmDelete({{ form.instance.id }})">Löschen</button>
        {% endif %}
        
        
    </form>
</div>

<script type="text/javascript">
    function confirmDelete(organisationId) {
        if (confirm('Bist du sicher, dass du diese Organisation löschen möchtest?')) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/organisation/delete/' + organisationId + '/';  // Construct the URL dynamically
            var csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';
            form.appendChild(csrfToken);
            document.body.appendChild(form);
            form.submit();
        }
    } 
</script>
{% endblock %}
