{% extends "base.html" %} 
{% block title %}Planung & Controlling Planung{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Planung  ({{ plan_records|length}})</h1>
        
        <!-- Filterformular -->
        <form method="get">
            <table class="table">
                <thead>
                    <tr>
                        <th>Jahr</th>
                        <th>Organisation</th>
                        <th>Massnahme</th>
                        <th>Erfüllung Soll</th>
                        <th>Erfüllung Ist</th>
                        <th>Aufwand tsdCHF Soll</th>
                        <th>Aufwand tsdCHF Ist</th>
                        <th>Aufwand PT Soll</th>
                        <th>Aufwand PT Ist</th>
                        <th>Verantwortlich</th>
                        <th>Edit</th>
                    </tr>
                    <tr>
                        <th><input type="text" name="jahr" class="form-control" placeholder="Filter Jahr" value="{{ request.GET.jahr }}"></th>
                        <th><input type="text" name="organisation" class="form-control" placeholder="Filter Organisation" value="{{ request.GET.organisation }}"></th>
                        <th><input type="text" name="massnahme" class="form-control" placeholder="Filter Massnahme" value="{{ request.GET.massnahme }}"></th>
                        <th><input type="text" name="erfuellung_soll" class="form-control" placeholder="Filter Erfüllung Soll" value="{{ request.GET.erfuellung_soll }}"></th>
                        <th><input type="text" name="erfuellung_ist" class="form-control" placeholder="Filter Erfüllung Ist" value="{{ request.GET.erfuellung_ist }}"></th>
                        <th><input type="text" name="kosten_soll" class="form-control" placeholder="Filter Aufwand Soll" value="{{ request.GET.aufwand_soll }}"></th>
                        <th><input type="text" name="kosten_ist" class="form-control" placeholder="Filter Aufwand Ist" value="{{ request.GET.aufwand_ist }}"></th>
                        <th><input type="text" name="aufwand_soll" class="form-control" placeholder="Filter Aufwand Soll" value="{{ request.GET.aufwand_soll }}"></th>
                        <th><input type="text" name="aufwand_ist" class="form-control" placeholder="Filter Aufwand Ist" value="{{ request.GET.aufwand_ist }}"></th>
                        <th><input type="text" name="verantwortlich" class="form-control" placeholder="Filter Verantwortlich" value="{{ request.GET.aufwand_ist }}"></th>
                        <th><button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i></button></th>
                    </tr>
                </thead>
        </form>
            <tbody>
                {% for pr in plan_records %}
                <tr>
                    <td>{{pr.jahr}}</td>
                    <td>{{ pr.verantwortlich.organisation.departement_kuerzel }}</td>
                    <td>{{ pr.verantwortlich.massnahme.kuerzel }}</td>
                    <td>{{ pr.fortschritt_pzt_plan }}</td>
                    <td>{{ pr.fortschritt_pzt_ist }}</td>
                    <td>{{ pr.aufwand_tsd_chf_plan }}</td>
                    <td>{{ pr.aufwand_tsd_chf_ist }}</td>
                    <td>{{ pr.aufwand_personen_tage_plan }}</td>
                    <td>{{ pr.aufwand_personen_tage_ist }}</td>
                    <td>{{ pr.verantwortlich.person }}</td>
                    <td><a href="{% url 'plan_record_edit' pr.pk %}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" action="initialize" class="btn btn-primary"><i class="fa fa-plus"></i>Planung initialisieren</button>
        </form>
    </div>
{% endblock %}
