{% extends "base.html" %}
{% load static %}
{% load strategie_filters %}

{% block title %}{{ strategie.titel_kurz }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{strategie.titel}}</h1>
    <div class="image-container">
        <img src="{% static 'images/' %}{{ strategie.home_image }}" alt="Strategie Image" class="centered-image">
    </div>
    <br>
    <p>{{strategie.beschreibung_extern}}</p>
    <br>
    <table class="table">
        <tr>
            <th>Verantwortliche Stelle</th>
            <td>{{strategie.organisation}}</td>
        </tr>
        <tr>
            <th>Von</th>
            <td>{{strategie.gueltigkeit_jahr_start}}</td>
        </tr>
        <tr>
            <th>Bis</th>
            <td>{{strategie.gueltigkeit_jahr_ende}}</td>
        </tr>
        <tr>
            <th>Anzahl Handlungsfelder</th>
            <td>{{ handlungsfelder|length }}</td>
        </tr>
        <tr>
            <th>Anzahl Ziele</th>
            <td>{{ ziele | length }}</td>
        </tr>
        <tr>
            <th>Anzahl Massnahmen</th>
            <td>{{ massnahmen | length }}</td>
        </tr>
        <tr>
            <th>Kontakt</th>
            <td>{{ strategie.kontakt.vorname_nachname }}</td>
        </tr>
    </table>    
    <br>
    <b>Dokumente</b>
    <ul>
        {% for dokument in strategie.dokumente.all %}
            <li><a href="{{ dokument.url_feld }}">{{ dokument.titel_dokument }}</a></li>
        {% endfor %}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        updateDescription();  // Ensure the description is set initially
    });

    function updateDescription() {
        var select = document.getElementById('strategie');
        if (select) {
            var description = select.options[select.selectedIndex].getAttribute('data-description');
            document.getElementById('theme-description').innerText = description;
        }
    }
</script>



{% endblock %}
