{% extends "base.html" %} 
{% load custom_filters %}
{% block title %}Ziele{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Ziele  ({{ ziele|length }})</h1>
        <table class="table">
            <thead>
                <tr>
                  <th>Strategie</th>  
                  <th>Kürzel</th>
                    <th>Titel</th>
                    <th>Beschreibung</th>
                    {% if request.user|is_in_group:"admins" %}
                        <th>Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for ziel in ziele %}
                <tr>
                    <td>{{ ziel.strategie }}</td>
                    <td><a href="{% url 'ziel_detail' ziel.pk %}">{{ ziel.kuerzel }}</a></td>
                    <td>{{ ziel.titel }}</td>
                    <td>{{ ziel.beschreibung }}</td>
                    {% if request.user|is_in_group:"admins" %}
                        <td><a href="{% url 'ziel_edit' ziel.pk %}"><i class="fas fa-edit"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
