{% extends "base.html" %} 
{% block title %}Handlungsfelder{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Handlungsfelder</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Kürzel</th>
                    <th>Handlungsfeld</th>
                    <th>Beschreibung</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for handlungsfeld in handlungsfelder %}
                <tr>
                    <td><a href="{% url 'handlungsfeld_detail' handlungsfeld.pk %}">{{ handlungsfeld.kuerzel }}</a></td>
                    <td>{{ handlungsfeld.titel }}</td>
                    <td>{{ handlungsfeld.beschreibung }}</td>
                    <td><a href="{% url 'handlungsfeld_edit' handlungsfeld.pk %}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
