{% extends "base.html" %} 
{% block title %}Massnahmen{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Massnahmen</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ziel</th>
                    <th>Kürzel</th>
                    <th>Titel</th>
                    <th>Beschreibung</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for massnahme in massnahmen %}
                <tr>
                    <td>{{massnahme.vorgaenger.kuerzel}} {{massnahme.vorgaenger.titel}}</a></td>
                    <td><a href="{% url 'massnahme_detail' massnahme.pk %}">{{ massnahme.kuerzel }}</a></td>
                    <td>{{ massnahme.titel }}</td>
                    <td>{{ massnahme.text }}</td>
                    <td><a href="{% url 'massnahme_edit' massnahme.pk %}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
